body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url("img_siam/fond_siam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* image du plateau */
#plateau-image {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: -10; 
    left: 0; 
    z-index: 0; 
}

/* grille du lateau principal */
#plateau {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vmin; 
    height: 90vmin;
    max-width: 400px; 
    max-height: 400px;
    background-image: url("img_siam/plateauSiam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

    
}

/* Grille interne */
#conteneurDeCases {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 130%;
    aspect-ratio: 1; 
    z-index: 2;
}

/* Cases de la grille */
.case {
    z-index: 3;
}

.case img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    z-index: -1; 
}

.case:hover{
    background-color: rgba(209, 231, 221, 0.8);
}

.pion {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none; /* Évite d'intercepter les clics sur les images */
<<<<<<< HEAD
}
=======
}
>>>>>>> 4c4e064e57dcee03e5d8f6838534a78d19b0983e
